.odd{
    background-color: rgb(157, 228, 212);
}
.even{
    background-color: rgb(227, 180, 180);
}
body{
    background: linear-gradient(to top, rgb(70, 203, 233), rgb(166, 168, 218), rgb(204, 220, 142));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#paragraphs{
    font-family:sans-serif;
    font-size:15px;
    font-style:italic;
    font-weight:normal;
    text-align:justify;
    text-decoration:underline;
    border-style:solid;
    border-width:2px;
    border-color:rgb(167, 31, 31);
    border-radius:20px;
    padding:10px; 
}